body{
   font-family: sans-serif;
    text-align: center;
}

.header{
    color:#222222;
    width: 100%;
    background-color: #ffffff;
    height: 60px;
    padding:16px 40px;
    justify-content: space-between;
    align-items: center;
    display:flex;
}
.header ul{
    display:flex;
    gap:40px;
    list-style:none;
}

.logo{
    font-size:20px;
    font-weight:700;
    text-align: left;
}
.top-wrapper{
    background-color:#ffffff;
max-width: 900px;
margin:0 auto;

}

.hero{
    background-color:#f7f7f7 ;
    padding:100px  0;
    margin-bottom:80px;

}
.hero h1{
    font-size:48px;
    font-weight:700;
    color:#222222;
}
.hero p{
    font-size:18px;
    font-weight:400;
    color:#555555;
    margin-bottom:24px;
}
.btn{
    background-color:#3A7AFE ;
    color:#ffffff;
    border-radius:8px;
    padding:16px 36px;
    font-weight:700;
    display:inline-block;
    text-decoration:none;
}
.btn:hover{
 background-color: #2F6AF0;
 transition: 0.2s;
}

.services{
    padding:80px 0
}
.services h2{
    font-size:32px;
    font-weight:700;
    color:#222222;
    margin-bottom:40px;
}
.card-container{
     display: flex;
    justify-content: center;
    gap: 32px;
}
.card{
 background-color:#fafafa ;
 padding:32px 24px;
 width:200px;border-radius:12px;
 box-shadow: 0 4px 12px rgba(0,0,0,0.08);

}
.card:hover{
  transition: 0.2s;
  transform:translateY(-6px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);

}

.card h3{
    font-size:20px;
    font-weight:600;

}

.card p{
    font-size:16px;
    font-weight:400;
    letter-spacing: 1.7;
}

.footer{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding:20px 40px;
    background-color:#f7f7f7 ;
    color:#555;
    font-size:14px;


}

